<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo list</title>
    <meta name="description" content="Vue js to do list">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="content/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="content/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="content/img/favicon-16x16.png">
    <link rel="mask-icon" href="content/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="content/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="content/img/browserconfig.xml">
    <meta name="theme-color" content="#77c4d3">

    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="content/css/screen.min.css">
    <script src="content/js/app.js"></script>
</head>

<body>
    <div id="app">
        <div class="page-container">
            <nav v-bind:class="{'is-open': isNavOpen}">
                <ul>
                    <li v-for="(todoList, index) in todoLists" v-bind:class="{'is-active' : currentListIndex === index}">
                        <button v-on:click="currentListIndex = index; isNavOpen = false">
                            {{todoList.title}}
                            <span>
                               {{totalTodosCompleted(index)}} / {{todoList.items.length}}
                            </span>
                        </button>
                    </li>
                    <li>
                        <button class="is-add" v-on:click="openSidebar('createNewList')">Create a new list</button>
                    </li>
                </ul>
            </nav>
            <main v-if="todoLists.length > 0">
                <header v-bind:style="'background-image: url(https://source.unsplash.com/featured/?' + todoLists[currentListIndex].keyword + ')'">
                    <div class="header-content">
                        <h1>{{todoLists[currentListIndex].title}}</h1>
                        <button class="is-primary" v-on:click="openSidebar('editList')">Edit list</button>
                    </div>
                </header>
                <ul>
                    <li v-for="(todo, index) in todoLists[currentListIndex].items" v-bind:class="{'is-completed': todo.isCompleted}">
                        <label v-bind:for="'todo' + index">
                            <input type="checkbox" v-bind:name="'todo' + index" v-bind:id="'todo' + index" v-bind:checked="todo.isCompleted" v-model="todo.isCompleted">{{todo.name}}</label>
                        <button class="is-primary" v-on:click="openSidebar('editTodo'); currentTodoIndex = index">Edit todo</button>
                    </li>
                    <li>
                        <button class="is-add" v-on:click="openSidebar('createNewTodo')">New Todo</button>
                    </li>
                </ul>
            </main>
            <main v-else>
                <header style="background-image: url(https://source.unsplash.com/featured/?cat">
                    <div class="header-content">
                        <h1>Please create a new list</h1>
                        <button class="is-add" v-on:click="openSidebar('createNewList')">Create a new list</button>
                    </div>
                </header>
            </main>
        </div>
        <div class="sidebar" v-bind:class="{'is-open' : isSidebarOpen}">
            <div class="sidebar-content">
                <form v-if="sidebarContentToShow === 'createNewList'">
                    <h3>Create a new list</h3>
                    <label for="listTitle">Title:</label>
                    <input id="listTitle" name="listTitle" type="text" placeholder="My amazing next trip to south america" v-model="tempNewList.title">
                    <label for="listKeyword">Keyword:</label>
                    <input id="listKeyword" name="listKeyword" type="text" placeholder="Colombia" v-model="tempNewList.keyword">
                    <div class="buttons">
                        <button type="button" class="is-danger" v-on:click="isSidebarOpen = false">Cancel</button>
                        <button type="button" class="is-confirm" v-on:click="addNewList">Create List</button>
                    </div>
                </form>
                <form v-if="sidebarContentToShow === 'editList' && todoLists.length > 0">
                    <h3>Edit list</h3>
                    <label for="listTitle">Title:</label>
                    <input id="listTitle" name="listTitle" type="text" placeholder="My amazing next trip to south america" v-model="todoLists[currentListIndex].title">
                    <label for="listKeyword">Keyword:</label>
                    <input id="listKeyword" name="listKeyword" type="text" placeholder="Colombia" v-model="todoLists[currentListIndex].keyword">
                    <div class="buttons">
                        <button type="button" class="is-danger" v-on:click="deleteList">Delete list</button>
                        <button type="button" class="is-confirm" v-on:click="isSidebarOpen = false">Done</button>
                    </div>
                </form>
                <form v-if="sidebarContentToShow === 'createNewTodo'">
                    <h3>Create a new todo</h3>
                    <label for="todoName">Todo:</label>
                    <input id="todoName" name="todoName" type="text" placeholder="Do things..." v-model="tempNewTodo.name">
                    <label for="todoCompleted">
                        <input name="todoCompleted" id="todoCompleted" type="checkbox" v-bind:checked="tempNewTodo.isCompleted" v-model="tempNewTodo.isCompleted"> Is completed</label>
                    <div class="buttons">
                        <button type="button" class="is-danger" v-on:click="isSidebarOpen = false">Cancel</button>
                        <button type="button" class="is-confirm" v-on:click="addNewTodo">Create todo</button>
                    </div>
                </form>
                <form v-if="sidebarContentToShow === 'editTodo' && todoLists[currentListIndex].items.length > 0">
                    <h3>Edit todo</h3>
                    <label for="todoName">Todo:</label>
                    <input id="todoName" name="todoName" type="text" placeholder="Do things..." v-model="todoLists[currentListIndex].items[currentTodoIndex].name">
                    <label for="todoCompleted">
                        <input name="todoCompleted" id="todoCompleted" type="checkbox" v-bind:checked="todoLists[currentListIndex].items[currentTodoIndex].isCompleted"
                            v-model="todoLists[currentListIndex].items[currentTodoIndex].isCompleted"> Is completed</label>
                    <div class="buttons">
                        <button type="button" class="is-danger" v-on:click="deleteTodo">Delete todo</button>
                        <button type="button" class="is-confirm" v-on:click="isSidebarOpen = false">Done</button>
                    </div>
                </form>
            </div>
        </div>
        <button v-on:click="isNavOpen = !isNavOpen" class="menu">Menu</button>
    </div>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('sw.js');
            });
        }
    </script>
</body>

</html>