<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo list</title>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="dist/css/screen.css">
    <script src="content/js/app.js"></script>
</head>

<body>
    <div id="app">
        <button v-on:click="isNavOpen = !isNavOpen" class="menu">Menu</button>
        <div class="page-container">
            <nav v-bind:class="{'is-open': isNavOpen}">
                <ul>
                    <li v-for="(todoList, index) in todoLists">
                        <button v-on:click="currentListIndex = index; isNavOpen = false">
                            {{todoList.title}}
                            <span>
                                {{todoList.items.length}}
                            </span>
                        </button>
                    </li>
                    <li>
                        <button class="is-add" v-on:click="openSidebar">Create a new list</button>
                    </li>
                </ul>
            </nav>
            <main>
                <header v-bind:style="'background-image: url(https://source.unsplash.com/featured/?' + todoLists[currentListIndex].keyword + ')'">
                    <div class="header-content">
                        <h1>{{todoLists[currentListIndex].title}}</h1>
                        <button class="is-danger">Delete list</button>
                    </div>
                </header>
                <ul>
                    <li v-for="(todo, index) in todoLists[currentListIndex].items" v-bind:class="{'is-completed': todo.isCompleted}">
                        <label v-bind:for="'todo' + index">
                            <input type="checkbox" v-bind:name="'todo' + index" v-bind:id="'todo' + index" v-bind:checked="todo.isCompleted" v-model="todo.isCompleted">{{todo.name}}</label>
                        <button class="is-danger">Delete item</button>
                    </li>
                    <li>
                        <button class="is-add">New Todo</button>
                    </li>
                </ul>
            </main>
        </div>
        <div class="sidebar" v-bind:class="{'is-open' : isSidebarOpen}">
            <div class="sidebar-content">
                <form>
                    <h3>Create a new list</h3>
                    <label for="listTitle">Title:</label>
                    <input id="listTitle" name="listTitle" type="text" placeholder="My amazing next trip to south america" v-model="tempNewList.title">
                    <label for="listKeyword">Keyword:</label>
                    <input id="listKeyword" name="listKeyword" type="text" placeholder="Colombia" v-model="tempNewList.keyword">
                    <div class="buttons">
                        <button type="button" class="is-danger" v-on:click="isSidebarOpen = false">Cancel</button>
                        <button type="button" class="is-confirm" v-on:click="addNewList">Create List</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>